@font-face{
    font-family: 'Aclonica';
    src: url(Aclonica/Aclonica-Regular.ttf);
}

body {
    margin: 0;
    /* overflow: hidden; */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* height: 100vh; */
    font-family:'Aclonica';
}

.body{
    display:flex;
    flex-direction:column;
    flex:9;
}

/* this is the css for the heading */
.header{
    display:flex;
    justify-content:space-between;
    flex:1;
    align-items:center;
    background-color: #3f454d;
    color:rgb(231, 228, 228);
    padding: 0px 15px;
    position: sticky;
    top: 0; 
    bottom:0;
    right:0;
    left:0;
    z-index: 99999;
    opacity: 90%;

}

/* .left{
    display:flex;
    align-items:center;
    gap: 10px;
} */

.senshi {
    border-radius: 50%;
    width: 50px;
    height:auto;
}
.left,
.right{
    display:flex;
} 

.right{
    gap: 20px;
}



/* this is the css for the top block */
.top-block{
    display: flex;
    flex-direction:column;
    /* justify-content:space-between; */
    align-items:center;
    flex:1;
    gap: 30px; */
    color:rgb(231, 228, 228);
    background-image: url("images/portal.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    padding-top: 340px;
    padding-bottom:340px; 
    opacity: 80%;
     /* background-color: #3f454d;  */


}

.container{
    display:flex;
    flex: 1;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    background-color: rgb(26, 25, 25);
    /* border: 1px dotted white; */
    border-radius: 15px;
    gap: 40px;
    width: 70vw;
    height: 40vh;
    padding: 40px;
    opacity: 90%;
    
}

.text1{
    color: white;
    font-weight: 900;
    font-size: 30px;
}

.text2{
    color: white;
}

a {
    color: white;
}

.credits{
    display: flex;
    position:relative;
    margin-top: 50px;
}

.vertical_container{
    display:flex;
    flex:1;
    flex-direction:column;
    align-items:center;
    gap: 5px;
}

.signup_button1{
    background-color:#3f454d;
    color: white;
    font-weight: 800;
    width: 180px;
    flex-grow: 0;
    padding:5px;
    border-radius: 10px;
}

.portal{
    border-radius: 5px;
}

/* this is the css for the middle block */
.mid-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    background-color: #FDEFE5;
    padding: 30px;
    padding-bottom:80px;

}

.bigbold{
    font-size: 36px;
    font-weight:900;
}

.horizontal_container{
    display:flex;
    gap:50px;
}

.img{
    width: 15vw;
    height: 15vh;
    object-fit: cover;
    border-radius: 15px;
    border-width: 10px;
    border-color: #3882F6;
}

.small{
    font-size: 12px;
    text-align:center;
}



/* this is the background for the quote and signup blocks
notice that i've included the background image here directly in the css
using the ::before property. this is as opposed to what I did above 
where I had the background image as part of the flex for the top block. 
the problem with the way that it's done above is applying an opacity to the 
image causes all of the text to inherit that opacity. with the way i've done it on 
the bottom, the child elements dont have to inherit the opacity of the background image. */
.samurai{
    position:relative;
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}

.samurai::before{
    content:"";
    background-image: url(images/samurai.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    opacity: 60%;

}

/* this is for the quote block */
.quote_block{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    position:relative;
    padding: 20px;
}

.vertical_container2{
    display:flex;
    flex-direction:column;
    width: 60vw;
    gap:20px;
}

.quote{
    align-self: flex-start;
    font-weight: 900;
    font-size: 20px;
}

.author{
    align-self: flex-end;
}

/* this is for the bottom signup block */
.signup{
    display:flex;
    justify-content:center;
    gap: 50px;
    padding: 40px 80px;
    /* position:absolute; */
    border: 5px solid white;
    background-color: rgb(184, 245, 184);
    opacity: 90%;
    border-radius: 15px;
    margin: 20vh;

}


#again{
    align-items: flex-start;
}
.signup_button2{
    color:black;
    border: black solid 2px;
    background-color: rgb(184, 245, 184);
    padding: 5px 20px;
    border-radius: 5px;

}

/* finally, this is for the footer */
.footer{
    display:flex;
    justify-content:center;
    flex:1;
    align-items:center;
    background-color: #3f454d;
    position:sticky;
    bottom: 0;
    z-index: 0;
    opacity: 90%;
    padding: 20px;
}